<main class="fd-page">
  <header>
    <div class="fd-action-bar">
      <div class="fd-action-bar__header">
        <h3 class="fd-action-bar__title">Weather</h3>
        <div class="fd-action-bar__actions">
          <button class="fd-button fd-button--primary" (click)="openModal()" *ngIf="isAuthorized">Settings</button>
        </div>
      </div>
      <p class="fd-action-bar__description">Check the weather forecast</p>
    </div>
  </header>
  <div class="fd-page__content">
    <section class="fd-section">

      <div class="fd-panel">
        <div class="fd-panel__body">
          <div class="" *ngFor="let country of countries">
            <h2 class="fd-has-margin-top-tiny fd-has-margin-bottom-tiny">{{country.name}}</h2>

            <div class="fd-container fd-container--fluid" *ngFor="let bikepark of country.locations">
              <div class="fd-col--12">
                <h3
                  class="fd-has-background-color-neutral-2 fd-has-margin-top-tiny fd-has-margin-bottom-tiny">{{bikepark.name}}</h3>
              </div>
              <div class="fd-col--4 weather-col">
                <h3 class="fd-has-margin-top-tiny fd-has-margin-bottom-tiny fd-has-margin-top-tiny">Friday
                  <small>{{nextFriday | amLocal | amDateFormat: 'DD.MM'}}</small>
                </h3>

                <div *ngIf="bikepark.fridayWeather.length">
            <span *ngFor="let forecast of bikepark.fridayWeather">
              <img class="weather-icon" src="https://openweathermap.org/img/w/{{forecast.icon}}.png"
                   alt="weather-icon">{{forecast.datetime | amLocal | amDateFormat: 'HH:mm'}}
              | {{forecast.temperature | number:'1.0-0'}}&#8451; | {{forecast.weather}} | {{forecast.weatherDesc}}<br/>
            </span>
                </div>
                <span *ngIf="!bikepark.fridayWeather.length">N/A</span>
              </div>

              <div class="fd-col--4 weather-col">
                <h3 class="fd-has-margin-top-tiny fd-has-margin-bottom-tiny">Saturday
                  <small>{{nextSaturday | amLocal | amDateFormat: 'DD.MM'}}</small>
                </h3>

                <div *ngIf="bikepark.saturdayWeather.length">
            <span *ngFor="let forecast of bikepark.saturdayWeather">
              <img class="weather-icon" src="https://openweathermap.org/img/w/{{forecast.icon}}.png"
                   alt="weather-icon">{{forecast.datetime | amLocal | amDateFormat: 'HH:mm'}}
              | {{forecast.temperature | number:'1.0-0'}}&#8451; | {{forecast.weather}} | {{forecast.weatherDesc}}<br/>
            </span>
                </div>
                <span *ngIf="!bikepark.saturdayWeather.length">N/A</span>
              </div>

              <div class="fd-col--4 weather-col">
                <h3 class="fd-has-margin-top-tiny fd-has-margin-bottom-tiny">Sunday
                  <small>{{nextSunday | amLocal | amDateFormat: 'DD.MM'}}</small>
                </h3>

                <div *ngIf="bikepark.sundayWeather.length">
          <span *ngFor="let forecast of bikepark.sundayWeather">
              <img class="weather-icon" src="https://openweathermap.org/img/w/{{forecast.icon}}.png"
                   alt="weather-icon">{{forecast.datetime | amLocal | amDateFormat: 'HH:mm'}}
            | {{forecast.temperature | number:'1.0-0'}}&#8451; | {{forecast.weather}} | {{forecast.weatherDesc}}<br/>
            </span>
                </div>
                <span *ngIf="!bikepark.sundayWeather.length">N/A</span>
              </div>

              <div class="fd-col--12 fd-has-text-align-right">
                <small><a href="https://weather.com/pl-PL/pogoda/weekend/l/{{bikepark.latitude}},{{bikepark.longitude}}"
                          target="_blank">Check on weather.com</a></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
